
.select_multiple{
    width: 97%;
}
.date_create {
    width: 100% !important;
    margin-left: -11px;
}
.form-item{
    width: 100% !important;
}
.date-padding{
    width: 100% !important;
}
.uper_title{
    text-transform: uppercase;
    font-size: 1.5em;
    font-family: "Comic";
}

.message_inscrit_no{
    color: #800;
    font-size: 1.2em;
    font-family: "Comic";
}

.message_inscrit_yes{
    color: #008000;
    font-size: 1.2em;
    font-family: "Comic";
}

.sexe_select{
    width: 95%;
}

.page-title{
    display: none;
}

.text_right{
    text-align: right;
}

#edit-date .description{
    display: none;
}

.entete_title {
    float: left;
    margin-top: 15px !important;
    width: 100%;
}
.entete_title h1{
    text-align: center;
    font-family: "Apple Chancery";
    border: 1px solid #cccccc;
    border-radius: 4px;
    width: 550px;
    height: 25px;
    margin: auto auto;
}

.entete_center {
    position: relative;
    text-align: center ;
}

.entete_left {
    width: 390px;
    text-align: center ;
    float: left;
}

.entete_right {
    float: right;
    text-align: center ;
    width: 250px;
    font-family: "Arial Black";
}

.entete_name{
    font-size: 40px;
    text-align: center ;
    font-family: "American Typewriter";
    color: #0066ff;
    float: left;
    margin-top: 25px !important;
    width: 100%;
}
